<!DOCTYPE html>
<html lang="en">
    <head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- SITE TITLE -->
		<title>Cronus</title>

		<link href="static/fonts/font-awesome.min.css" rel="stylesheet"/>

		<link href="static/css/plugins.css" rel="stylesheet"/>

		<link href="static/css/normalize.css" rel="stylesheet"/>
		<link href="static/css/style.css" rel="stylesheet"/>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
<body>


    <div class="header">
        <div class="header-center">
            <div class="logo">
                <img src="static/images/logo.png" alt="">
            </div>
            <div class="user-info">
                <div class="avatar">
                    <img src="static/images/female_avatar.jpg" alt="">
                </div>
                <div class="name-show">
                    <span id="name"></span>
                    <!--<button id="logout">Logout</button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="white-box">
                <section class="chat_section">
                    <div class="col-12 chat_msg_main col-10">
                        
                       
                    </div>
                    </section>
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                    <div class="text-box">
                        <img class="img-1" width="60" height="60" src="static/images/avtar.png" alt="">
                        <textarea placeholder="Say Hi" name="" id="textbox_msg"></textarea>
                        <button class="send_msg" type="button">Submit</button>
                    </div>
                    
                
            </div>
        </div>
		
    </div>

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/scrolltopcontrol.js"></script>
    <script src="static/js/main.js"></script>
    
    <script>
        //$('#name').html('Welcome <br />' + localStorage.getItem('name'));

        //if (!localStorage.getItem('email')) {
        //    window.location.href = "login.html";
        //}
    </script>
   
</body>
</html>
